.Movie-Card {
  position: relative;
  width: 226px;
  display:grid;
  gap:0;
  text-decoration: none;
}

.Movie-Card img {
  width: 100%;
  margin:0;
  padding:0;
  box-sizing: border-box;
}

.Movie-Rating {
  line-height: 19px;
  color: var(--font-color);
  width: 40px;
  height: 40px;
  background: var(--akzent-color);
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin: 10px;
}

.Movie-Details {
  line-height: 19px;
  color: var(--font-color);
  margin:0;
  padding:0;
  box-sizing: border-box;
}

.Movie-Title {
font-family: var(--ff-title);
font-weight: 400;
font-size: 18px;
line-height: 27px;
color: var(--font-color);
padding:0;
margin:0;
box-sizing: border-box;
}

@media (max-width:927px) {
  .Movie-Card {
    max-width:300px;
    margin:0 50px;
  }

  .Movie-Title {
    font-size:22px;
    padding-top:8px;
  }

  .Movie-Details {
    font-size: 22px;
    padding-top:4px;
  }
}

@media (max-width: 776px) {
  .Movie-Card {
    width:400px;
  }

  .Movie-Title {
    font-size:32px;
    padding-top:12px;
  }

  .Movie-Details {
    font-size: 24px;
    padding-top:7px;
  }
}