.FooterBar-Container {
    background-color: var(--bg-color-secondary);
    display: flex;
    align-items: center;
    bottom: 0;
    left: 0;
    right: 0;
}

.Footerbar-h1-Container {
    margin-left: 6rem;
    flex-basis: 15%;
}

.Footerbar-h1-Container span {
    color: var(--akzent-color);
}

.Footerbar-h1-Container .Footerbar-Link, .Footerbar-h1-Container .Footerbar-Link:visited {
    text-decoration: none;
    color: var(--font-color);
}

.FooterBar-p-Container {
    flex-basis: 35%;
}

.FooterBar-Container .FooterBar-SocialMedia-Container {
    display: flex;
    gap: 2rem;
    flex-basis: 60%;
}

@media (max-width: 768px) {
    .FooterBar-Container {
        padding-bottom: 1rem;
    }

    .Footerbar-h1-Container h1 {
        padding-right: 2rem;
    }

    .FooterBar-Container .FooterBar-SocialMedia-Container {
        gap: 1rem;
    }

    .FooterBar-Container .FooterBar-SocialMedia-Container img {
        width: 2rem;
    }
}

@media (max-width: 600px) {
    .FooterBar-p-Container {
        padding-right: 1rem;
    }

    .FooterBar-Container {
        flex-direction: column;
    }

    .Footerbar-h1-Container {
        margin-left: 1rem;
      }
}

/* @media (max-width: 350px) {
    .FooterBar-Container {
        flex-direction: column;
    }
} */