.NavBar-Container {
  background-color:var(--bg-color-secondary);
  display: flex;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
}

.NavBar-h1-Container {
    display: flex;
    margin-left: 6rem;
    flex-basis: 40%;
}

/* .NavBar-h1-Container h1 {
  font-family: var(--ff-title);
  color: var(--font-color);
  font-size: var(--fs-h1);
} */

.NavBar-h1-Container span {
  color: var(--akzent-color);
}

.NavBar-h1-Container .NavBar-Link {
    text-decoration: none;
    color: var(--font-color);
}

.NavBar-Form-Container {
  background-color: var(--bg-color-primary);
  border-radius: 2.5rem;
  border: none;
}

.NavBar-Form-Container .NavBar-Search {
    font-family: var(--ff-text);
    color: var(--font-color);
    font-size: var(--fs-p-medium);
    padding-left: 3rem;
    border: none;
    width: 18rem;
    height: 3.5rem;
    background: url(../../Images/search.svg);
    background-repeat: no-repeat;
    background-position: left center;
    margin-left: 2rem;
    margin-right: 1rem;
}

.NavBar-Form-Container .NavBar-Search::placeholder {
  font-size: var(--fs-p-medium);
}

.NavBar-Form-Container .NavBar-Search:focus {
    outline: 0;
}

@media (max-width: 768px) {
    .NavBar-Container {
        padding-bottom: 1rem;
        padding-right: 1rem;
    }

    /* .NavBar-h1-Container h1 {
        font-size: var(--fs-h3);
    } */

    .NavBar-Form-Container .NavBar-Search {
        font-size: var(--fs-p-small);
        width: 2rem;
        height: 2.5rem;
    }

    .NavBar-Form-Container .NavBar-Search:hover {
        width: 13rem;
        transition: width 2s;
    }

    .NavBar-Form-Container .NavBar-Search:focus {
        width: 13rem;
    }

    .NavBar-Form-Container .NavBar-Search::placeholder {
        font-size: var(--fs-p-small);
    }
}
