.NavBar-Container {
  background-color: var(--bg-color-secondary);
  display: flex;
  align-items: center;
  width: 100vw;
}
  
.NavBar-h1-Container {
  display: flex;
  margin-left: 6rem;
  flex-basis: 40%;
}

.NavBar-h1-Container .NavBar-Link, .NavBar-h1-Container .NavBar-Link:visited {
  text-decoration: none;
  color: var(--font-color);
}
  
.NavBar-h1-Container span {
  color: var(--akzent-color);
}

  /* ==INPUT SEARCH FUNCTION== */
form {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1.6rem;
  border: none;
  background-color: var(--bg-color-primary);
}

#searchBtn {
  background-color: var(--bg-color-secondary);
  border: none;
  cursor: pointer;
  background: url("../../Images/search.svg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 2.5rem;
  width: 2.5rem;
  overflow: hidden;
  padding: 0;
  margin: 0.5rem 1.25rem 0.5rem 1.8rem;
}
  
#searchBar {
  border: none;
  background-color: var(--bg-color-primary);
  border-radius: 1.6rem;
  width: 16rem;
  height: 3.5rem;
  color: var(--font-color);
  font-size: var(--fs-p-medium);
}

#searchBar:focus {
  caret-color: var(--akzent-color);
}

.NavBar-Form-Container .NavBar-Search::placeholder {
  font-size: 1.25rem;
}
  
.NavBar-Form-Container .NavBar-Search:focus {
  outline: 0;
}

/* ==Styling closing tag in input search field== */
#searchBar::-webkit-search-cancel-button {
  -webkit-appearance: none;
  height: 1.5rem;
  width: 1.5rem;
  margin-left: 0.8em;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%23777'><path d='M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z'/></svg>");
  cursor: pointer;
}
  
@media (max-width: 768px) {
  .NavBar-Container {
    padding: 0rem 1rem 1rem 0rem;
  }

  .NavBar-Form-Container #searchBar {
    width: 7rem;
  }

/* ==Sizing down the input field & searchBtn== */
  .NavBar-Form-Container .NavBar-Search {
    font-size: var(--fs-p-small);
    width: 2rem;
    height: 2.5rem;
  }

  button[type="submit"] {
    height: 1.5rem;
    width: 1.5rem;
    margin: 0.5rem 1.25rem;
  }

  button[type="submit"]:hover #searchBar {
    width: 13rem;
    transition: width 2s;
  }

  /* ==Resize input field back to default on hover & focus== */
  .NavBar-Form-Container #searchBar:hover {
    width: 13rem;
    transition: width 2s;
  }

  .NavBar-Form-Container #searchBar:focus {
    width: 13rem;
  }

  .NavBar-Form-Container .NavBar-Search::placeholder {
    font-size: var(--fs-p-medium);
    transition: width 2s;
  }

  #searchBtn:hover + #searchBar, #searchBtn:focus + #searchBar {
    width: 13rem;
  }
}

@media (max-width: 600px) {
  .NavBar-Container {
    flex-direction: column;
  }

  .NavBar-h1-Container {
    margin-left: 1rem;
  }

  .NavBar-Form-Container #searchBar {
    width: 3rem;
  }

  .NavBar-Form-Container #searchBar:hover {
    width: 5rem;
    transition: width 2s;
  }

  .NavBar-Form-Container #searchBar:focus {
    width: 5rem;
  }
}